html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    overflow: hidden;
}

.errorContainer {
	background-color:rgba(14, 14, 14, 0.534);
    align-items: center;
    text-align: center;
    height: 40%;
    margin: 2%;
    padding: 80px;
    border-radius:20px; 
    
}

.container {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    margin: 2%;
}

.viewContainer {
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 90%;
    margin: 1%;
}


/*Double, picking a video ---------------------------------------------------------------*/

.yt {
    width: 40vw;
    padding: 5px;
    background-color: rgba(14, 14, 14, 0.534);
    color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
    justify-content: center;
    height: 92%;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}

.ytList {
    text-align: left;
    height: 80%;
    width: 100%;
}

.twitch {
    width: 40vw;
    padding: 5px;
    background-color: rgba(14, 14, 14, 0.534);
    color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
    justify-content: center;
    height: 92%;
}


/*--------------------------------------------------------------------------------------------------*/


/*browser + trending --------------------------------------------------------------------------------*/

.browser {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 2% 6%;
}

.browser img {
    width: 70%;
}

.smallBrowser {
    display: flex;
    text-align: center;
    align-items: center;
    width: 90%;
    padding: 2% 6%;
}

.smallBrowser form {
    min-width: 100%;
}

.left {
    float: left;
}

.trend {
    margin: 3%;
    height: 70%;
    width: 30%;
    background-color: rgba(14, 14, 14, 0.534);
    color: rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    text-align: center;
}

.trend:hover {
    background-color: rgba(14, 14, 14, 0.685);
    color: rgba(255, 255, 255, 0.733);
}

.twitterTrending {
    height: 40%;
    text-align: left;
    padding: 20px;
}

.twitchTrending {
    height: 40%;
    text-align: left;
    padding: 20px;
}

.redditPost {
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.video {
    width: 130px;
    height: 200px;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0.4);
}

.video:hover {
    background-color: rgba(0, 0, 0, 0.6);
}


/*----------------------------------------------------------------------------------------------*/


/*View -----------------------------------------------------------------------------------------*/

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 2%;
    width: 60%;
    height: 80%;
    background-color: rgba(14, 14, 14, 0.534);
}

.screen:hover {
    background-color: rgba(14, 14, 14, 0.685);
    color: rgba(255, 255, 255, 0.733);
}

.social {
    margin: 2%;
    height: 80%;
    width: 25%;
    background-color: rgba(14, 14, 14, 0.534);
    color: rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    text-align: center;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    height: 90%;
}

.ytComment {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    margin-top: 2%;
}

::-webkit-scrollbar {
    width: 3px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 114, 114);
}

.socialPicker {
    height: 10%;
    text-align: center;
    width: 100%;
    padding: 2%;
}

.socialPicker img:hover {
    background-color: rgba(14, 14, 14, 0.685);
}

.socialPicker:hover {
    background-color: rgba(14, 14, 14, 0.685);
    color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}


/*----------------------------------------------------------------------------------------------*/

.center {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}

input[type=search] {
    background-color: rgba(14, 14, 14, 0.534);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
}

input[type=search]:hover {
    background-color: rgba(14, 14, 14, 0.685);
    width: 81%;
    color: rgb(245, 245, 245);
}

button,
input[type=submit] {
    background-color: rgba(14, 14, 14, 0.534);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover,
input[type=submit]:hover {
    background-color: rgba(14, 14, 14, 0.685);
    color: rgb(245, 245, 245);
}

a {
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px;
}

a:hover {
    background-color: rgba(243, 243, 243, 0.082);
    border: 1px solid white;
}

.linkOption a:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    border-color: white;
}

 ::placeholder {
    color: white;
    opacity: 0.4;
}

h1 {
    color: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    vertical-align: middle;
}

h3 {
    border-style: hidden hidden solid hidden;
}

img {
    vertical-align: text-bottom;
}

li {
    text-align: inherit;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.158);
    margin: 3%;
    border-radius: 10px;
}

p {
    font-size: 10px;
}

hr {
    background-color: rgba(14, 14, 14, 0.534);
}

footer {
    height: 5vh;
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 2%;
}


/*Embeed-------------------------------------------------------------------------*/

iframe {
    width: 96%;
    height: 95%;
    border-radius: 10px;
    border: hidden;
}