    * {
        margin: 0;
        padding: 10;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    body {
        padding: 20px;
        text-align: center;
        background-image: url(images/background.jpg);
        background-size: cover;
    }
    
    .container {
        display: flex;
        flex-flow: row;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
        border: 10px;
    }
    
    .yt {
        width: 40vw;
        padding: 10px;
        background-color: rgba(14, 14, 14, 0.534);
        color: rgba(255, 255, 255, 0.733);
        border-radius: 20px;
    }
    
    .ytList {
        text-align: left;
        height: 80%;
        width: 100%;
    }
    
    .twitch {
        width: 40vw;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgba(14, 14, 14, 0.534);
        color: rgba(255, 255, 255, 0.733);
        border-radius: 20px;
    }
    
    .browser {
        text-align: center;
        align-items: center;
        flex-grow: 2.5;
    }
    
    .trend {
        flex-grow: 1;
        margin-right: 20px;
        margin-left: 10px;
        height: 80vh;
        background-color: rgba(14, 14, 14, 0.534);
        color: rgba(255, 255, 255, 0.733);
        border-radius: 10px;
    }
    
    .twitterTrending {
        height: 40%;
        text-align: left;
        padding: 20px;
    }
    
    .twitchTrending {
        height: 40%;
        text-align: left;
        padding: 20px;
    }
    
    .center {
        height: 100%;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
    input[type=search] {
        border-radius: 10px;
        width: 75%;
        height: 30px;
        padding: 12px;
        background-color: rgba(14, 14, 14, 0.534);
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
        color: rgb(206, 206, 206);
    }
    
     ::placeholder {
        color: white;
        opacity: 0.4;
    }
    
    h1 {
        color: rgb(48, 48, 48);
        margin-top: 60;
        vertical-align: middle;
    }
    
    img {
        vertical-align: text-bottom;
    }
    
    li {
        text-align: inherit;
    }
    
    h2 {
        font-size: 20px;
        font-style: bold;
    }
    
    p {
        font-size: 12px;
    }
    
    hr {
        background-color: rgba(14, 14, 14, 0.534);
    }
    
    footer {
        height: 10vh;
        position: absolute;
        bottom: 0;
        text-align: right;
        width: 96vw;
    }